fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
opencv-python
mediapipe
librosa
transformers
torch
numpy==1.24.3
pandas==2.2.1
scikit-learn==1.3.2
websockets
python-jose[cryptography]
passlib[bcrypt]
pymongo
python-dotenv
reportlab
anyio==4.7.0
protobuf==6.31.1
